<%= javascript_include_tag 'services/service' %>

<h1>All Services</h1>
<hr />
<% if @services.any? %>
    <div id="services_container">
        <% @services.each do |service| %>
            <%= render 'service', service: service %>
        <% end %>
    </div>
<% else %>
    <p>No Services Found.</p>
<% end %>
<%= link_to "Back", admin_dashboard_path, class: "btn btn-danger" %>

<%= render 'create_modal' %>

