<h1 id="booking_history_header">Booking History</h1>
<hr />
<div class="container">
  <div class="bookings">
    <% display_service_requests(@service_requests) do%>
      <% @service_requests.each_with_index do |request, index| %>
        <div class="booking">
          <h3> <%= index + 1 %></h3>
          <div class="booking_items">
            <h3 id="booking_item_header">Booked Services</h3>
            <% request.options.with_deleted.each do |option|%>
              <p><%= option.title %></p>
            <% end %>
          </div>
          <h3>Rs.<%= request.total %></h3>
          <p><%= link_to "View Details", service_request_path(request), class: "view_details_btn" %></p>
        </div>
      <% end %>
    <%end%>
    <% display_no_bookings(@service_requests) do%>
      <h3 id="no_bookings">No Bookings to show</h3>
    <% end%>
  </div>
</div>
