<h2>Options for <%= @service.title %></h2>

<% @options.each do |option| %>
 <div>
    <h3><%= option.title %></h3>
    <p><%= option.description %></p>
    <p>Price: <%= option.price %></p>
 </div>
<% end %>
