<div>
    <%= customer_form.label :address %>
    <%= customer_form.text_field :address %>
</div>

<div>
    <%= customer_form.label :phone_number %>
    <%= customer_form.text_field :phone_number %>
</div>
