<%= form_with(model: @employee, url: employee_path(@employee), local: true) do |form| %>
  <div>
    <%= form.label :service_id, "Skill" %>
    <%= form.select :service_id, options_for_select(Service.pluck(:title, :id), prompt: "Select a Skill")%>
  </div>
  <%= form.submit "Update skill For Employee" %>
<% end %>