<div class="service_card" style="width: 18rem;">
  <div class="option_card_body">
    <h5 class="card-title"><%= option.title%></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%= option.price%></h6>
    <p class="card-text"><%= option.description%></p>
    <%= link_to "Book Now", root_path, class: "option_book_button"%>
  </div>
</div>