<h1>HOME PAGE</h1>
<% if current_user%>
    <%= button_to "Logout", destroy_user_session_path, method: :delete%>
    <%= button_to "Profile", destroy_user_session_path, method: :delete%>
<%else%>
    <%= link_to "Sign up", new_customer_path %>
<% end %>
