.booked_service {
  display: flex;
  gap: 3vw;
}

.admin_dashboard_header {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.accept_btn,
.reject_btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.create_admin_btn {
  margin-left: 3vw;
}
