/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* NAVBAR */
.navbar{
    background-color: white;
    height: 80px;
    margin: 20px;
    border-radius: 20px;
    padding: 0.5rem;
    box-shadow: 0 0 20px rgba(0.1, 0.1, 0.1, 0.2);
}
.login-btn{
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 14px;
    padding: 8px 20px;
    text-decoration: none;
    transition: 0.3s;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
}

.login-btn:hover{
    background-color: rgb(41, 40, 40);
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: gray;
    transition: 300ms;
    font-size: 24px;
}

.nav-link:hover{
    color: black;
    font-weight: 500;
}

.navbar-brand{
    font-size: 24px;
}