/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* .modal-backdrop {
  opacity: 0.5 !important;
} */

.date_validation_errors p {
  color: red;
  margin-top: 10px;
}

input[type="datetime-local"] {
  width: 100%; /* Adjust the width as needed */
  padding: 10px; /* Add some padding inside the input field */
  border: 1px solid #ccc; /* Add a border around the input field */
  border-radius: 5px; /* Optional: Add rounded corners */
  font-size: 16px; /* Adjust the font size */
  background-color: white;
  margin-bottom: 20px;
}
