#services_container {
  margin-left: 5vw;
  margin-right: 5vw;
}

.service_container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  gap: 3vw;
  align-items: center;
  width: fit-content;
}

#desc_label {
  font-weight: bold;
  font-size: large;
}

.service {
  margin-left: auto;
  margin-right: auto;

  background-color: white;
  box-shadow: 0 0 20px rgba(0.1, 0.1, 0.1, 0.2);
  border-radius: 20px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding: 30px;

  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 2vw;
  width: fit-content;
}

.service_images {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  min-width: 30vw;
}

.service_btns {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.service_details {
  width: 20vw;
}

.service_images img {
  height: auto;
  width: auto;
}

#index_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}
