.booking_details_header {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#booking_item_header {
  text-decoration: underline solid black;
}

.booking_item_name {
  min-width: 10vw;
}

.booking_item_details {
  display: flex;
  /* gap: 10vw; */
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0.1, 0.1, 0.1, 0.2);
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  align-items: center;
  gap: 3vw;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.request_item {
  width: fit-content !important;
  gap: 2vh;
  border-radius: 20px;
  padding: 30px;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0.1, 0.1, 0.1, 0.2);
  background-color: white;
}

.option_title {
  text-align: center;
}

.assign_form {
  display: flex;
  flex-direction: column;
  width: 13vw;
  gap: 1vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#no_booking {
  text-align: center;
  margin-top: 20vh;
}

#history_table {
  margin-top: 5vh;
  width: 100%; /* Adjust the width as needed */
  border-collapse: collapse;
  border-bottom: 2px solid black;
}

#history_table th {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: left;
}

#history_table tr {
  height: 50px;
}

#history_table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#history_header {
  text-align: center;
}

.download_btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.declined_indicator {
  color: red;
}

.completed_indicator {
  color: green;
}
